# 구글시트를 판다로 불러오는법
https://docs.google.com/spreadsheets/d/{시트 아이디}/export?format=xlsx<br>
ex)"https://docs.google.com/spreadsheets/d/1tXuSfGPADHSm3up1-8SSbp5yJFOoHgSqfTrUsyBfkXI<br>
https://docs.google.com/spreadsheets/d/1tXuSfGPADHSm3up1-8SSbp5yJFOoHgSqfTrUsyBfkXI/export?format=xlsx

In [1]:
import pandas as pd
pd.read_excel("https://docs.google.com/spreadsheets/d/1tXuSfGPADHSm3up1-8SSbp5yJFOoHgSqfTrUsyBfkXI/export?format=xlsx")

    이름  나이
0  abc  21
1  dfe  23

# 구글시트를 판다로 불러오는법(심화)
https://docs.google.com/spreadsheets/d/{시트 아이디}/export?format=xlsx&gid={gid번호}<br>
ex)https://docs.google.com/spreadsheets/d/1tXuSfGPADHSm3up1-8SSbp5yJFOoHgSqfTrUsyBfkXI/edit?gid=378299503#gid=378299503<br>https://docs.google.com/spreadsheets/d/1tXuSfGPADHSm3up1-8SSbp5yJFOoHgSqfTrUsyBfkXI/export?format=xlsx&gid=378299503

In [1]:
import pandas as pd
df=pd.read_excel("https://docs.google.com/spreadsheets/d/1tXuSfGPADHSm3up1-8SSbp5yJFOoHgSqfTrUsyBfkXI/export?format=xlsx&gid=378299503")
df

     x    y
0   15   53
1   79  100
2   30    8
3    3    2
4   73   59
5   40   18
6   95   38
7   94   99
8   42   15
9    6   72
10   6   64
11  56   48
12  42   59
13  50   77
14  38   86
15  82   47
16  58   82
17   5   48
18  21   58
19  36   66
20  56   34
21  40   36
22  81   49

In [4]:
df.values[0][0]

15