# 구글시트를 판다로 불러오는법
https://docs.google.com/spreadsheets/d/{시트 아이디}/export?format=xlsx<br>
ex)"https://docs.google.com/spreadsheets/d/1tXuSfGPADHSm3up1-8SSbp5yJFOoHgSqfTrUsyBfkXI<br>
https://docs.google.com/spreadsheets/d/1tXuSfGPADHSm3up1-8SSbp5yJFOoHgSqfTrUsyBfkXI/export?format=xlsx

In [1]:
import pandas as pd
pd.read_excel("https://docs.google.com/spreadsheets/d/1tXuSfGPADHSm3up1-8SSbp5yJFOoHgSqfTrUsyBfkXI/export?format=xlsx")

    이름  나이
0  abc  21
1  dfe  23

# 구글시트를 판다로 불러오는법(심화)
https://docs.google.com/spreadsheets/d/{시트 아이디}/export?format=xlsx&gid={gid번호}<br>
ex)https://docs.google.com/spreadsheets/d/1tXuSfGPADHSm3up1-8SSbp5yJFOoHgSqfTrUsyBfkXI/edit?gid=378299503#gid=378299503<br>https://docs.google.com/spreadsheets/d/1tXuSfGPADHSm3up1-8SSbp5yJFOoHgSqfTrUsyBfkXI/export?format=xlsx&gid=378299503

In [2]:
import pandas as pd
pd.read_excel("https://docs.google.com/spreadsheets/d/1tXuSfGPADHSm3up1-8SSbp5yJFOoHgSqfTrUsyBfkXI/export?format=xlsx&gid=378299503")

      x   y
0    66  36
1    87  66
2    83  63
3    12   9
4    36  55
5    40  24
6    40  79
7    24  26
8    52  73
9    80  18
10   15  96
11   36  91
12   57  97
13   53  31
14   21   3
15   26  16
16   56  15
17  100  54
18   26  51
19   53  97
20   41  81
21   27  47
22   73  50

In [2]:
arr=[1,2,3,4]
arr.append(10)
arr

[1, 2, 3, 4, 10]